body {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  width: 100%;
  background: #f5f5f5;
}

.product-details > h3 {
  color: #1e70bf;
}

.product-details > div {
  color: #666666;
}

.product-details div.availability {
  line-height: 2rem;
}

.product-details div.availability.in {
  color: #008a00;
}

.product-details div.availability.out {
  color: #ae4343;
}

.product-details .store-url {
  text-decoration: none !important;
  margin-top: 1rem;
}

.product-image {
  padding: 0;
  height: 200px !important;
  width: 200px !important;
}

.store-header {
  background-color: #232f3e;
}

.store-header .menu {
  background-color: transparent;
}

.store-header .menu .item {
  padding-top: 2em;
  padding-bottom: 2em;
}

.store-header .menu .item a {
  color: #f5f5f5 !important;
}

.store-header .item:first-child {
  padding-left: 0px !important;
}

.store-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.store-footer {
  background-color: #232f3e;
  color: #f5f5f5;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 206px;
}

.store-footer div.ui.container div {
  text-align: center;
  padding: 4rem;
}

.size-form .size-line {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.size-form .row {
  margin-left: initial !important;
  margin-right: initial !important;
}

.page-title {
  margin-bottom: 2rem;
  border-bottom: 1px solid #DDD;
  padding-bottom: 1em;
}

.home-page {
  background-image:url('components/fragments/wallpaper1.png');
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}

.home-page > div {
  background-color:white;
  
  opacity: 0.80;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1rem;
}

.home-page > div > div {
  display: flex;
  justify-content: space-around;
}

.home-page > div > p {
  line-height: 2rem;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 2rem;
}

.home-page > div > p:first-child {
  border-bottom: 1px solid #DDD;
  padding-bottom: 2rem;
}

.home-page > div > p:last-child {
  margin-bottom: 2rem;
}
